# Libraries

In [2]:
import pandas as pd

# Datasets

In [3]:
people_df = pd.read_csv('../data/people.csv')
salary_df = pd.read_csv('../data/salary.csv')
descriptions_df = pd.read_csv('../data/descriptions.csv')

## Explore datasets

### People

In [4]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   375 non-null    int64
 1   Age                  370 non-null    float64
 2   Gender               370 non-null    object
 3   Education Level      370 non-null    object
 4   Job Title            370 non-null    object
 5   Years of Experience  373 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 17.7+ KB

In [13]:
people_df.sample(50)

,id,Age,Gender,Education Level,Job Title,Years of Experience
184,184,36.0,Female,Bachelor's,Senior Marketing Specialist,8.0
73,73,28.0,Male,Bachelor's,Technical Support Specialist,2.0
285,285,44.0,Female,PhD,Senior Product Designer,15.0
135,135,39.0,Female,Bachelor's,Administrative Assistant,10.0
149,149,45.0,Male,Master's,Director of Sales,19.0
54,54,29.0,Female,Bachelor's,Graphic Designer,3.0
9,9,38.0,Male,PhD,Senior Scientist,10.0
171,171,29.0,Male,Bachelor's,Junior Marketing Coordinator,2.0
209,209,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0
168,168,31.0,Female,Bachelor's,Junior HR Coordinator,4.0
299,299,37.0,Male,Bachelor's,Senior Marketing Analyst,9.0
293,293,35.0,Male,Bachelor's,Senior Business Development Manager,7.0
270,270,45.0,Male,PhD,Senior Data Engineer,16.0
145,145,34.0,Male,Bachelor's,Senior Business Analyst,8.0
315,315,NaN,Male,Bachelor's,Senior Software Engineer,13.0
76,76,50.0,Female,Bachelor's,Operations Manager,22.0
306,306,49.0,Female,Master's,Director of Marketing,21.0
182,182,44.0,Female,PhD,Senior UX Designer,15.0
147,147,31.0,Male,Bachelor's,Junior Project Manager,4.0
336,336,29.0,Female,Bachelor's,Junior Project Manager,2.0
252,252,45.0,Female,PhD,Senior Product Designer,15.0
294,294,45.0,Female,Master's,Senior HR Manager,14.0
224,224,28.0,Male,Bachelor's,Junior Financial Analyst,2.0
371,371,43.0,Male,Master's,Director of Operations,19.0
23,23,36.0,Female,Bachelor's,Recruiter,9.0
82,82,25.0,Male,Bachelor's,Sales Representative,0.0
136,136,46.0,Male,Master's,Senior Project Manager,19.0
260,260,NaN,NaN,NaN,NaN,NaN
85,85,34.0,Female,Master's,Financial Advisor,10.0
327,327,32.0,Male,Bachelor's,Junior Marketing Coordinator,3.0
218,218,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5
133,133,47.0,Male,PhD,Senior Research Scientist,22.0
53,53,47.0,Male,Master's,VP of Finance,19.0
8,8,26.0,Female,Bachelor's,Marketing Coordinator,1.0
139,139,43.0,Female,NaN,Senior Product Marketing Manager,14.0
323,323,47.0,Male,PhD,Director of Engineering,20.0
18,18,25.0,Female,Bachelor's,Data Entry Clerk,0.0
221,221,NaN,Female,Bachelor's,Junior Social Media Specialist,3.0
65,65,38.0,Female,Master's,Digital Marketing Manager,10.0
102,102,49.0,Female,Master's,Senior HR Manager,19.0
213,213,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0
192,192,30.0,Female,Bachelor's,Junior Social Media Manager,3.0
61,61,29.0,Male,Bachelor's,Marketing Analyst,3.0
232,232,27.0,Female,Master's,Junior Research Scientist,1.5
245,245,36.0,Male,Bachelor's,Senior Operations Manager,8.0
83,83,52.0,Male,PhD,Chief Technology Officer,24.0
110,110,42.0,Female,Master's,Senior Graphic Designer,15.0
347,347,45.0,Male,Master's,Director of Engineering,19.0
261,261,37.0,Female,NaN,Senior Financial Manager,10.0
66,66,46.0,Male,Bachelor's,IT Manager,19.0

In [6]:
people_df.describe()

               id         Age  Years of Experience
count  375.000000  370.000000           373.000000
mean   187.000000   37.437838            10.030831
std    108.397417    7.080465             6.557007
min      0.000000   23.000000             0.000000
25%     93.500000   31.250000             4.000000
50%    187.000000   36.000000             9.000000
75%    280.500000   44.000000            15.000000
max    374.000000   53.000000            25.000000

In [8]:
people_df["Education Level"].value_counts()

Education Level
Bachelor's    222
Master's       97
PhD            51
Name: count, dtype: int64

In [9]:
people_df["Gender"].value_counts()

Gender
Male      193
Female    177
Name: count, dtype: int64

In [11]:
people_df["Job Title"].value_counts()

Job Title
Director of Marketing             12
Director of Operations            10
Senior Business Analyst           10
Senior Marketing Manager           9
Senior Marketing Analyst           9
                                  ..
Junior Social Media Specialist     1
Junior Operations Coordinator      1
Senior HR Specialist               1
Director of HR                     1
Junior Financial Advisor           1
Name: count, Length: 173, dtype: int64

### Salaries

In [16]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      375 non-null    int64
 1   Salary  373 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.0 KB

In [18]:
salary_df.describe()

               id         Salary
count  375.000000     373.000000
mean   187.000000  100577.345845
std    108.397417   48240.013482
min      0.000000     350.000000
25%     93.500000   55000.000000
50%    187.000000   95000.000000
75%    280.500000  140000.000000
max    374.000000  250000.000000

### Descriptions

In [19]:
descriptions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           375 non-null    int64
 1   Description  372 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.0+ KB

In [20]:
descriptions_df.head(10)

   id                                        Description
0   0  I am a 32-year-old male working as a Software ...
1   1  I am a 28-year-old data analyst with a Master'...
2   2  I am a 45-year-old Senior Manager with a PhD a...
3   3  I am a 36-year-old female Sales Associate with...
4   4  I am a 52-year-old male with over two decades ...
5   5  I am a 29-year-old Marketing Analyst with a Ba...
6   6  I am a 42-year-old female with a Master's degr...
7   7  I am a 31-year-old Sales Manager with a Bachel...
8   8  I am a 26-year-old female Marketing Coordinato...
9   9  I am a 38-year-old Senior Scientist with a PhD...

In [21]:
descriptions_df.sample(5)["Description"].tolist()

["I am a 47-year-old male with a Master's degree and 19 years of experience in operations management. As the Director of Operations, I excel in managing complex operations, optimizing processes, and leading diverse teams to achieve organizational goals. My expertise includes strategic planning, supply chain management, and organizational behavior. I oversee various departments, develop and implement operational policies, manage budgets, and continuously seek ways to improve productivity and efficiency. My leadership style is inclusive and transparent, fostering a collaborative environment that values diversity, equity, and inclusion.",
 "As a 28-year-old Junior Operations Analyst with a Bachelor's degree, I bring 1.5 years of experience in analyzing and improving operational processes to enhance efficiency and productivity. My role involves data analysis, process mapping, and identifying areas for improvement. I thrive on problem-solving and developing innovative solutions to complex issues. Despite being relatively new to the professional world, I have gained valuable experience and a keen eye for detail. I am committed to continuous learning and professional development, always seeking opportunities to expand my knowledge and skills to contribute positively to my organization.",
 "I am a 32-year-old female currently working as a Junior Account Manager with a Bachelor's degree. Over the past five years, I have gained valuable experience in account management, focusing on client relations, project coordination, and strategic planning. In my role, I manage client accounts, ensuring their needs are met and helping them achieve their business goals. I excel at building strong relationships with clients, understanding their unique requirements, and delivering tailored solutions. My job allows me to collaborate with various teams, enhancing my communication and teamwork abilities. I am passionate about my work and eager to learn new strategies to improve my performance.",
 "I am a 39-year-old female with a Bachelor's degree and 12 years of experience as a Training Specialist. My expertise includes assessing training needs, designing comprehensive training materials, and facilitating engaging learning sessions. I excel at creating positive learning environments and adapting methods to diverse learning styles. My goal is to empower employees with the tools and knowledge they need to excel, ultimately driving organizational success. I am committed to continuous improvement and staying updated with the latest trends in training and development.",
 'I am a 39-year-old Senior Engineer with a PhD and 12 years of experience. My expertise lies in understanding complex systems and developing innovative solutions. I am dedicated to continuous learning and professional growth, leveraging my advanced knowledge and research capabilities to tackle intricate problems. I excel in leading teams, mentoring junior engineers, and driving successful project outcomes. My career has taught me the importance of collaboration, effective communication, and adaptability in the ever-evolving engineering industry. I am passionate about engineering and committed to delivering high-quality work while staying at the forefront of technological advancements.']