In [15]:
import pandas as pd

In [22]:
df = pd.read_csv('../data/cleaned_data/final_dataset.csv')

In [23]:
df.head()

,Age,Gender,Education Level,Years of Experience,noun_count,verb_count,adj_count,adv_count,Seniority,Area,Role,Salary
0,32.0,Male,Bachelor's,5.0,22,10,10,0,Senior,Software/data,Engineer,90000.0
1,28.0,Female,Master's,3.0,24,13,7,3,Junior,Software/data,Analysis,65000.0
2,45.0,Male,PhD,15.0,26,13,13,0,Senior,Other,Management,150000.0
3,36.0,Female,Bachelor's,7.0,26,10,6,0,Senior,Sales & Marketing,Individual Contributor,60000.0
4,52.0,Male,Master's,20.0,23,16,8,3,Senior,Other,Leadership,200000.0